.ml-container-price-history{
    margin: 40px 30px 0;
}

.ml-title-price-history{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 1;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
}